
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<form id="searchBar">
    <label for="search" id="searchLabel"></label>
    <input type="text" id="searchInput" name="searchStation">
</form>

<div class="list">
    <ul class="unordered" id="ulList">
    </ul>
</div>


    <script type='text/javascript' src="/JS/script.js"></script>
</body>
</html>
<!-- 
<div class="list">
    <select name="" value="Välj ort"placeholder="Välj ort" id="ulList">
        <option id="orterLista" >
        </option>
    </select>
</div> -->