#container {
    width: 90%;
    margin: 0 auto;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   
}

body{
    background-image: url("../img/cloud.jpeg");

    font-family: Montserrat;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    grid-column: 1/13;
    height: 50px;
    font-size: 90px;
}

form{
    display: flex;
    zoom: 160%;
    margin-left: 20px;
}

section{
border-style: ridge ridge ridge solid;
border-left-color: blue;
height: 200px;
background-color: lightsteelblue;
box-shadow: 2px 2px 4px black;
grid-column: 4/13;
}

#ulList{
    background-color: whitesmoke;
}

li{
    margin-left: 30px;
}

h3{
    width: 100%;
    float: left;
    margin-left: 20px;
    text-decoration: underline;
}
p{
    width: 50%;
    float: right;
}
#ulList{
width: 100%;
max-height: 200px;
overflow: scroll;
grid-column: 1/3;
}

footer{
    border-style: solid;
    height: 50px; 
    grid-column: 1/13;
}
    